.services {
  display: grid;
  row-gap: 50px;
  column-gap: 100px;

  @mixin atLarge {
    grid-template-columns: 1fr 1fr;
    row-gap: 200px;
  }

  &__heading {
    margin-bottom: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 30px;
    max-width: 400px;
  }

  &__grid-item {
    margin: 5px 0;
  }

  &__image {
    display: none;
    width: 550px;
    height: 700px;
    object-fit: cover;
    @mixin atLarge {
      display: block;
    }
  }
}