<footer class="footer">

  <a href="index.html#home"><img src="src/img/logo.svg" alt="Awakening logo" class="footer__logo"></a>
  <ul class="footer__list">
    <li class="footer__section"><a class="footer__link" href="index.html">HOME</a></li>
    <li class="footer__section"><a class="footer__link" href="services.html">SERVICES</a></li>
    <li class="footer__section"><a class="footer__link" href="events.html">EVENTS</a></li>
    <li class="footer__section"><a class="footer__link" href="brands.html">BRANDS</a></li>
    <li class="footer__section"><a class="footer__link" href="about.html">ABOUT</a></li>
    <li class="footer__section"><a class="footer__link" href="contact.html">CONTACT</a></li>
  </ul>

  <div class="footer__contact">
    <p class="footer__text">678-555-1294</p>
    <p class="footer__text">contact@awakeningbeauty.com</p>
    <p class="footer__text">123 Fake street, Townname, XY 30117</p>
  </div>
  
  <p class="footer__copyright">&copy; 2019 Awakening Beauty. All Rights Reserved.</p>

</footer>

</body>
<!-- build:js src/js/index.js -->
<script src="temp/js/index.js"></script>
<!-- endbuild -->
</html>