<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
  <title>Awakening Beauty Salon</title>
  <meta name="keywords" content="awakening, beauty, makeup, hair, haircut, styling, cuts, extensions, coloring, salon">
  <meta name="description" content="Awakening Beauty is an award winning beauty salon specializing in hair styling, coloring, and makeup, located in Evans, Georgia GA 30809.">
  <!-- build:css src/css/styles.css -->
  <link rel="stylesheet" href="temp/css/styles.css">
  <!-- endbuild -->
  <!-- build:js src/js/vendor.js -->
  <script src="temp/js/vendor.js"></script>
  <!-- endbuild -->
</head>

<body>
  
  <div class="topbar">
    <div class="topbar__container">
      <a class="topbar__text" href="tel:678-555-1294"><img class="text__icon" src="src/img/icon-phone.svg" alt="">678-555-1294</a>
      <a class="topbar__text" href="mailto:contact@awakeningbeauty.com"><img class="text__icon" src="src/img/icon-mail.svg" alt="">contact@awakeningbeauty.com</a>
      <a class="topbar__text" href="contact.html"><img class="text__icon" src="src/img/icon-map.svg" alt="">7013 Evans Blvd, Evans, GA 30809</a>
    </div>
  </div>