<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Tangerine:700&Lato:300,400&display=swap" rel="stylesheet">
  <title>Awakening Beauty - Makeup and Hair Styling Salon</title>
  <meta name="keywords" content="awakening, makeup, hair, styling, cuts, extensions, salon">
  <meta name="description" content="">
  <!-- build:css src/css/styles.css -->
  <link rel="stylesheet" href="temp/css/styles.css">
  <!-- endbuild -->
  <!-- build:js src/js/vendor.js -->
  <script src="temp/js/vendor.js"></script>
  <!-- endbuild -->
</head>

<body>
  
  <div class="topbar">
    <div class="topbar__container">
      <p class="topbar__text"><img class="text__icon" src="src/img/icon-phone.svg" alt="">678-555-1294</p>
      <p class="topbar__text"><img class="text__icon" src="src/img/icon-mail.svg" alt="">contact@awakeningbeauty.com</p>
      <p class="topbar__text"><img class="text__icon" src="src/img/icon-map.svg" alt="">7013 Evans Blvd, Evans, GA 30809</p>
    </div>
  </div>