<div class="menu">
  <div class="menu__background"></div>
  <div class="menu__button">
    <div class="menu__line"></div>
    <div class="menu__line"></div>
    <div class="menu__line"></div>
  </div>
</div>

<nav class="nav">
  <a href="#home"><img src="src/img/logo.svg" alt="Novelle logo" class="nav__logo"></a>
  <ul class="nav__list">
    <li class="nav__section"><a class="nav__link" href="#services">Services</a></li>
    <li class="nav__section"><a class="nav__link" href="#work">Work</a></li>
    <li class="nav__section"><a class="nav__link" href="#process">Our Process</a></li>
    <li class="nav__section"><a class="nav__link" href="#about">About Us</a></li>
    <li class="nav__section"><a class="nav__link" href="#contact">Contact</a></li>
  </ul>
</nav>

<a class="back-to-top back-to-top--hidden" href=#home>&uarr;</a>