<nav class="nav">
  <div class="nav__container">
    <a href="#home"><img src="src/img/logo.svg" alt="Novelle logo" class="nav__logo"></a>
    <ul class="nav__list">
      <li class="nav__section"><a class="nav__link" href="index.html">HOME</a></li>
      <li class="nav__section"><a class="nav__link" href="services.html">SERVICES</a></li>
      <li class="nav__section"><a class="nav__link" href="events.html">EVENTS</a></li>
      <li class="nav__section"><a class="nav__link" href="brands.html">BRANDS</a></li>
      <li class="nav__section"><a class="nav__link" href="about.html">ABOUT</a></li>
      <li class="nav__section"><a class="nav__link" href="contact.html">CONTACT</a></li>
    </ul>
  </div>
  <div class="menu">
    <div class="menu__background"></div>
    <div class="menu__button">
      <div class="menu__line"></div>
      <div class="menu__line"></div>
      <div class="menu__line"></div>
    </div>
  </div>
</nav>

<a class="back-to-top back-to-top--hidden" href=#home>&uarr;</a>