html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Lato', arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  max-height: auto;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Romantic Couple Regular';
  src: local('Romantic Couple Regular'), url('../../src/fonts/Romantic Couple.woff') format('woff');
  font-display: swap;
}

.lazyload, .lazyloading {
  opacity: 0;
  transition: opacity 0.3s;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 0.3s;
}