@@include('partials/header.html')
@@include('partials/nav.html')

<div class="subhero">
  <h1 class="subhero__heading">ABOUT US</h1>
  <img class="subhero__image" src="src/img/about.jpg" alt="">
</div>

<section class="section about">
  <div class="text__container">
    <h2 class="text__heading">Small roots weaved into something beautiful.</h2>
    <p class="text__paragraph">We are an award winning beauty salon specializing in hair styling, coloring, and makeup. We began our journey 12 years
    ago, in an abandoned barber shop in Atlanta, and slowly expanded into a modern salon.</p>
  </div>

  <img class="about__barbershop" src="src/img/retro.jpg" alt="A photo of our old barbershop">
  <img class="about__woman" src="src/img/about2.jpg" alt="A photo of a woman's styled hair">
  
  <div class="text__container">
    <h2 class="text__heading">Professional styling that you can trust.</h2>
    <p class="text__paragraph">We use premium products containing natural ingredients to ensure that your hair is lively and healthy.</p>
    <p class="text__paragraph">We provide personalized services in a casual, relaxing environment. Our dedicated team is here to help you look and feel
    beautiful.</p>
  </div>
</section>

@@include('partials/cta.html')
@@include('partials/footer.html')