@@include('partials/header.html')
@@include('partials/nav.html')

<div class="subhero">
  <h1 class="subhero__heading">BRANDS</h1>
  <img class="subhero__image" src="src/img/brands.jpg" alt="A photo of hairdressing tools neatly laid out on a white wooden table">
</div>

<section class="section brands">
  <img class="brands__image" src="src/img/brand-vernon.jpg" alt="A photo of Vernon Francois">
  <div class="brands__container">
    <h2>Vernon Francois</h2>
    <p class="text__paragraph">Vernon Francois provides lightweight formulas with spray technology easily penetrate kinks, coils, curls or waves with a
    mega dose of nourishment, without weighing hair down.</p>
  </div>

  <img class="brands__image" src="src/img/brand-schwarzkopf.jpg" alt="Schwarzkopf Professional">
  <div class="brands__container">
    <h2>Schwarzkopf Professional</h2>
    <p class="text__paragraph">Schwarzkopf has long been known for its professional quality, love for healthy hair and beauty innovation for over 100
    years.</p>
  </div>

  <img class="brands__image" src="src/img/brand-kerastase.jpg" alt="Kerastase">
  <div class="brands__container">
    <h2>Kerastase Paris</h2>
    <p class="text__paragraph">Kérastase is a French-based international luxury haircare brand, leading in several countries. Kerastase products bring
    a professional approach to each woman's hair needs..</p>
  </div>

  <img class="brands__image" src="src/img/brand-inoa.jpg" alt="Inoa brand poster">
  <div class="brands__container">
    <h2>Inoa</h2>
    <p class="text__paragraph">INOA’s extensive portfolio provides rich color results, supreme respect for the hair, and unlimited possibilities to
    create personalized looks for every woman.</p>
  </div>

  <img class="brands__image" src="src/img/brand-shu.jpg" alt="Shu Uemera model wearing red lipstick">
  <div class="brands__container">
    <h2>Shu Uemura</h2>
    <p class="text__paragraph">Shu Uemura provides luxurious, salon professional hair care, exceptional treatments, shampoos, and hair styling
    products.</p>
  </div>
</section>

@@include('partials/cta.html')
@@include('partials/footer.html')