@@include('partials/header.html')
@@include('partials/nav.html')

<div class="subhero">
  <h1 class="subhero__heading">CONTACT</h1>
  <img class="subhero__image" src="src/img/contact.jpg" alt="">
</div>

<section class="section contact">
  <div class="contact__container">
    <div>
      <h3 class="contact__heading">GET IN TOUCH</h3>
      <p class="contact__text"><img class="text__icon" src="src/img/icon-map.svg" alt="">7013 Evans Blvd, Evans, GA 30809</p>
      <p class="contact__text"><img class="text__icon" src="src/img/icon-mail.svg" alt="">contact@awakeningbeauty.com</p>
      <p class="contact__text"><img class="text__icon" src="src/img/icon-phone.svg" alt="">678-555-1294</p>
    </div>

    <div>
      <h3 class="contact__heading">BUSINESS HOURS</h3>
      <div class="contact__grid">
        <p class="contact__text">Monday-Friday</p>
        <p class="contact__text">9am - 4pm</p>
        <p class="contact__text">Saturday</p>
        <p class="contact__text">10am - 3pm</p>
        <p class="contact__text">Sunday</p>
        <p class="contact__text">Closed</p>
      </div>
    </div>

    <div>
      <h3 class="contact__heading">CONSULTATIONS</h3>
      <p class="contact__text">We offer free 15-minute consultations. These are recommended if your hair is long, thick, or otherwise requires
      additional attention.</p>
    </div>
  </div>
  <!-- <div class="contact__map"></div> -->
  <iframe width="800" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJS6M9bqrU-YgRaWAjzjZodXw&key=AIzaSyC0WK7cywtHsze36a78kSe3lvnflvy_CCk"
    allowfullscreen></iframe>
</section>
@@include('partials/cta.html')
@@include('partials/footer.html')