@@include('partials/header.html')
@@include('partials/nav.html')

<div class="subhero">
  <h1 class="subhero__heading">CONTACT</h1>
  <img class="subhero__image" src="src/img/contact.jpg" alt="">
</div>

<section class="section contact">
  <div class="contact__container">
    <div>
      <h3 class="contact__heading">GET IN TOUCH</h3>
      <p class="contact__text">123 Fake street, Townname, XY 30117</p>
      <p class="contact__text">contact@awakeningbeauty.com</p>
      <p class="contact__text">678-555-1294</p>
    </div>

    <div>
      <h3 class="contact__heading">BUSINESS HOURS</h3>
      <div class="contact__grid">
        <p class="contact__text">Monday-Friday</p>
        <p class="contact__text">9am - 4pm</p>
        <p class="contact__text">Saturday</p>
        <p class="contact__text">10am - 3pm</p>
        <p class="contact__text">Sunday</p>
        <p class="contact__text">Closed</p>
      </div>
    </div>

    <div>
      <h3 class="contact__heading">CONSULTATIONS</h3>
      <p class="contact__text">We offer free 15-minute consultations. These are recommended if your hair is long, thick, or otherwise requires
      additional attention.</p>
    </div>
  </div>
  <div class="contact__map"></div>
</section>
@@include('partials/cta.html')
@@include('partials/footer.html')