@@include('partials/header.html')
@@include('partials/nav.html')

<div class="subhero">
  <h1 class="subhero__heading">EVENTS</h1>
  <img class="subhero__image" src="src/img/events.jpg" alt="">
</div>

<section class="section events">
  <div class="text__container">
    <h2 class="text__heading">Add that extra spark to your special occasions.</h2>
    <p class="text__paragraph">We can provide styling for any occasions. We've done styling for numerous weddings, proms and vow renewals.</p>
    <p class="text__paragraph">We have special rates for groups, and can perform our services at either our salon or venues of your choosing.</p>
    <a class="button button--colored" href="services.html">OUR SERVICES</a>
  </div>
  <div class="events__container">
    <img class="events__image1" src="src/img/events1.jpg" alt="">
    <img class="events__image3" src="src/img/events3.jpg" alt="">
    <img class="events__image2" src="src/img/events2.jpg" alt="">
  </div>
</section>

<section class="section pricing">
  <h2>PRICING</h2>
  <p>We offer special rates for veterans and non-profit events.
  Pricing is per person.</p>
</section>

@@include('partials/cta.html')
@@include('partials/footer.html')