@@include('partials/header.html')
@@include('partials/nav.html')

<div class="subhero">
  <h1 class="subhero__heading">EVENTS</h1>
  <img class="subhero__image" src="src/img/events.jpg" alt="A black and white photo of a woman's elaborate hairstyle">
</div>

<section class="section events">
  <div class="text__container">
    <h2 class="text__heading">Add that extra spark to your special occasions.</h2>
    <p class="text__paragraph">We can provide styling for any occasions. We've done styling for numerous weddings, proms and vow renewals.</p>
    <p class="text__paragraph">We have special rates for groups, and can perform our services at either our salon or venues of your choosing.</p>
    <a class="button button--colored" href="services.html">OUR SERVICES</a>
  </div>
  <div class="events__container">
    <img class="events__image1" src="src/img/events1.jpg" alt="The back of a woman in a wedding dress, her brown hair in an elaborate series of twists">
    <img class="events__image3" src="src/img/events3.jpg" alt="A woman's curled hair with white pearls in them">
    <img class="events__image2" src="src/img/events2.jpg" alt="A woman's hair in the process of being put into a curled hairstyle">
  </div>
</section>

<section class="section pricing">
  <h2 class="pricing__heading">PRICING</h2>
  <p class="pricing__subheading">We offer special rates for veterans and non-profit events.
  Pricing is per person.</p>
  <table class="pricing__table">
    <tr>
      <th>STYLING OPTIONS</th>
      <th>SINGLE</th>
      <th>GROUP (4+)</th>
    </tr>
    <tr>
      <td>All Up Updo</td>
      <td>$90+</td>
      <td>$70+</td>
    </tr>
    <tr>
      <td>Half Updo</td>
      <td>$75+</td>
      <td>$60+</td>
    </tr>
    <tr>
      <td>Curls</td>
      <td>$65+</td>
      <td>$50+</td>
    </tr>
    <tr>
      <td>Full Makeup</td>
      <td>$120+</td>
      <td>$90+</td>
    </tr>
    <tr>
      <td>Partial Makeup</td>
      <td>$65+</td>
      <td>$50+</td>
    </tr>
    <tr>
      <td>Full Package</td>
      <td>$130+</td>
      <td>$95+</td>
    </tr>
    <tr>
      <td>On Location Services</td>
      <td>$150+</td>
      <td>$150+</td>
    </tr>
  </table>
</section>

@@include('partials/cta.html')
@@include('partials/footer.html')