@@include('partials/header.html')
@@include('partials/nav.html')

<div class="hero__container">
  <h1>Awakening</h1>
  <p>HAIR, BEAUTY AND SOUL</p>
  <p>The premier experts in styling, coloring and makeup.</p>
  <p>Faketown XY</p>
  <a class="button" href="services.html">OUR SERVICES</a>
</div>

<div>
  <h2>Find your awakening.</h2>
  <p>We are an award winning beauty salon specializing in hair styling, coloring, and makeup.</p>
  <p>We provide personalized services in a casual, relaxing environment. Our dedicated team is here to help you look and feel
  beautiful.</p>
  <p>We offer walk-in services, home visits, and styling for large groups and events. We would love to help you make your
  special day perfect.</p>
  <a class="button button--colored" href="services.html">OUR SERVICES</a>
</div>

@@include('partials/cta.html')
@@include('partials/footer.html')