@@include('partials/header.html')
@@include('partials/nav.html')

<div class="hero">
  <div class="hero__container">
    <h1 class="hero__heading">Awakening</h1>
    <p class="hero__subheading">HAIR, BEAUTY AND SOUL</p>
    <p class="hero__text">The premier experts in styling, coloring and makeup.</p>
    <p class="hero__location">Evans GA</p>
    <a class="button" href="services.html">OUR SERVICES</a>
  </div>
  <img
    class="hero__image"
    srcset="src/img/hero-600.jpg 600w,
            src/img/hero-1100.jpg 1100w,
            src/img/hero-1500.jpg 1500w,
            src/img/hero-2000.jpg 2000w,
            src/img/hero.jpg 3000w"
    sizes="(max-width: 599px) 600px,
           (max-width: 1100px) 1100px,
           (max-width: 1500px) 1500px,
           (max-width: 1999px) 2000px,
           (min-width: 2000px) 3000px"
    src="src/img/hero.jpg"
    alt="A photo of the interior of Awakening Beauty Salon"
  />
</div>

<div class="hero__arrow-container">
  <a href="#intro" class="hero__arrow-link">
    <p class="hero__arrow-text">Scroll</p>
    <img class="hero__arrow" src="src/img/arrow.svg" alt="Arrow pointing down" />
  </a>
</div>

<section class="intro" id="intro">
  <div class="text__container intro__text">
    <h2 class="text__heading">Find your awakening.</h2>
    <p class="text__paragraph">We are an award winning beauty salon specializing in hair styling, coloring, and makeup.</p>
    <p class="text__paragraph">We provide personalized services in a casual, relaxing environment. Our dedicated team is here to help you look and feel
    beautiful.</p>
    <p class="text__paragraph">We offer walk-in services, home visits, and styling for large groups and events. We would love to help you make your
    special day perfect.</p>
    <a class="button button--colored" href="services.html">OUR SERVICES</a>
  </div>
  <div class="intro__container">
    <img class="intro__image1" src="src/img/intro1.jpg" alt="A photo of a woman's brown hair being curled by a hairdresser" />
    <img class="intro__image2 intro--hidden" src="src/img/intro2.jpg" alt="A photo of a woman's blonde hair being elaborately plaited" />
    <img class="intro__image3 intro--hidden" src="src/img/intro3.jpg" alt="A photo of a woman's makeup being applied" />
    <img class="intro__image4 intro--hidden" src="src/img/intro4.jpg" alt="A woman's hair in an intricate bun style" />
  </div>
</section>

@@include('partials/cta.html')
@@include('partials/footer.html')