@@include('partials/header.html')
@@include('partials/nav.html')

<div class="hero">
  <div class="hero__container">
    <h1 class="hero__heading">Awakening</h1>
    <p class="hero__subheading">HAIR, BEAUTY AND SOUL</p>
    <p class="hero__text">The premier experts in styling, coloring and makeup.</p>
    <p class="hero__location">Evans GA</p>
    <a class="button" href="services.html">OUR SERVICES</a>
  </div>
  <img class="hero__image" src="src/img/hero.jpg"></img>
</div>

<div class="hero__arrow-container">
  <a href="#intro" class="hero__arrow-link">
    <p class="hero__arrow-text">Scroll</p>
    <img class="hero__arrow" src="src/img/arrow.svg" alt="Arrow pointing down">
  </a>
</div>

<section class="intro" id="intro">
  <div class="text__container intro__text">
    <h2 class="text__heading">Find your awakening.</h2>
    <p class="text__paragraph">We are an award winning beauty salon specializing in hair styling, coloring, and makeup.</p>
    <p class="text__paragraph">We provide personalized services in a casual, relaxing environment. Our dedicated team is here to help you look and feel
    beautiful.</p>
    <p class="text__paragraph">We offer walk-in services, home visits, and styling for large groups and events. We would love to help you make your
    special day perfect.</p>
    <a class="button button--colored" href="services.html">OUR SERVICES</a>
  </div>
  <div class="intro__container">
    <img class="intro__image1" src="src/img/intro1.jpg">
    <img class="intro__image2 intro--hidden" src="src/img/intro2.jpg">
    <img class="intro__image3 intro--hidden" src="src/img/intro3.jpg">
    <img class="intro__image4 intro--hidden" src="src/img/intro4.jpg">
  </div>
</section>

@@include('partials/cta.html')
@@include('partials/footer.html')