@@include('partials/header.html')
@@include('partials/nav.html')

<div class="subhero">
  <h1 class="subhero__heading">SERVICES</h1>
  <img class="subhero__image" src="src/img/services.jpg" alt="">
</div>

<section class="section services">
  <div class="services__container">
    <h2 class="text__heading services__heading">Styling</h2>
    <p class="text__paragraph">We offer a variety of styling services including cuts and extensions, updos, blowouts, curling, as well as styling for
    special occassions.</p>
    <div class="services__grid">
      <p class="services__grid-item">Women's Standard Cut</p>
      <p class="services__grid-item">$55</p>
      <p class="services__grid-item">Layering/Styling</p>
      <p class="services__grid-item">$85</p>
      <p class="services__grid-item">Wash & Blowdry</p>
      <p class="services__grid-item">$35</p>
      <p class="services__grid-item">Conditioning & Blowout</p>
      <p class="services__grid-item">$70</p>
      <p class="services__grid-item">Full Updo/Upsweep</p>
      <p class="services__grid-item">$90</p>
      <p class="services__grid-item">Specialty Braiding</p>
      <p class="services__grid-item">$60</p>
      <p class="services__grid-item">Curling</p>
      <p class="services__grid-item">$65</p>
      <p class="services__grid-item">Hair Extensions</p>
      <p class="services__grid-item">$800</p>
      <p class="services__grid-item">Maintenance</p>
      <p class="services__grid-item">$100</p>
      <p class="services__grid-item">Hair Wigs</p>
      <p class="services__grid-item">$1500</p>
    </div>
  </div>

  <div class="services__container">
    <h2 class="text__heading services__heading">Color</h2>
    <p class="text__paragraph">We use products that are natural, fade resistant and damage free. We offer custom color, highlights, and babylights.</p>
    <div class="services__grid">
      <p class="services__grid-item">Base Color</p>
      <p class="services__grid-item">$110</p>
      <p class="services__grid-item">Partial Hairlights</p>
      <p class="services__grid-item">$165</p>
      <p class="services__grid-item">Full Hairlights</p>
      <p class="services__grid-item">$185</p>
      <p class="services__grid-item">Color Refresh</p>
      <p class="services__grid-item">$185</p>
      <p class="services__grid-item">Color Correction</p>
      <p class="services__grid-item">$105</p>
      <p class="services__grid-item">Balayage</p>
      <p class="services__grid-item">$210</p>
      <p class="services__grid-item">Special Effects</p>
      <p class="services__grid-item">$120</p>
      <p class="services__grid-item">Extra Color</p>
      <p class="services__grid-item">$20</p>
    </div>
  </div>

  <div class="services__container">
    <h2 class="text__heading services__heading">Makeup</h2>
    <p class="text__paragraph">We can ensure that you look perfect for any occasion. We use products that are long-lasting, and gentle with
    sensitive-skin.</p>
    <div class="services__grid">
      <p class="services__grid-item">Touch-up Makeup</p>
      <p class="services__grid-item">$25</p>
      <p class="services__grid-item">Partial Makeup</p>
      <p class="services__grid-item">$65</p>
      <p class="services__grid-item">Full Makeup</p>
      <p class="services__grid-item">$120</p>
      <p class="services__grid-item">Brow/Lash Tinting</p>
      <p class="services__grid-item">$30</p>
      <p class="services__grid-item">Eyelash Extension</p>
      <p class="services__grid-item">$195</p>
      <p class="services__grid-item">Eyelash Application</p>
      <p class="services__grid-item">$55</p>
      <p class="services__grid-item">Eyelash Removal</p>
      <p class="services__grid-item">$25</p>
      <p class="services__grid-item">Lash Cleanse</p>
      <p class="services__grid-item">$10</p>
    </div>
  </div>
</section>

@@include('partials/cta.html')
@@include('partials/footer.html')