.hero {
  width: 100vw;
  height: 70vh;
  position: relative;
  color: var(--white);

  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    max-width: 700px;
  }

  &__heading {
    position: absolute;
    left: 9999px;
  }

  &__subheading {
    responsive-font-size: 1.75rem;
    margin-top: -30px;
  }

  &__text, &__location {
    responsive-font-size: 1.375rem;
    margin: 5px 0;
  }

  &__location {
    font-weight: 300;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__arrow-container {
    display: none;
    margin: 40px auto;
    width: 50px;
    text-align: center;

    @mixin atMedium {
      display: block;
    }
  }

  &__arrow-text {
    font-size: 0.875rem;
    margin: 0;
  }

  &__arrow {
    transition: 0.25s;
    padding: 10px 20px;
    &:hover {
      transform: scale(1.2);
    }
  }

}