.nav {
  width: 100vw;
  padding: 0 20px;
  height: 90px;
  background-color: var(--white);
  position: absolute;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 10px auto;
  }

  &__logo {
    width: 175px;
    @mixin atMedium {
      width: 200px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: none;
    @mixin atLarge {
      display: flex;
    }
  }

  &__section {
    margin: 25px;
    list-style-type: none;
  }

  &__link {
    font-weight: 400;
    text-decoration: none;
    color: var(--black);
  }

  &--is-hidden {
    opacity: 0;
  }

  &--is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.75s;
    box-shadow: 2px 2px solid var(--black);
  }
}